In [1]:
import pandas as pd

,Unnamed: 0,Code,Diali,GDCD,Hoahoc,KHTN,KHXH,LichSu,Ngoaingu,Nguvan,Sinhhoc,Toan,Vatli,city
0,0,44000001,NaN,NaN,8.00,7.08,NaN,NaN,4.4,7.50,5.50,8.4,7.75,44
1,1,44000002,NaN,NaN,8.25,7.17,NaN,NaN,NaN,6.00,6.25,7.6,7.00,44
2,2,44000003,NaN,NaN,4.50,4.92,NaN,NaN,4.0,5.00,5.75,7.0,4.50,44
3,3,44000004,7.50,9.25,NaN,NaN,8.67,9.25,7.4,6.75,NaN,7.2,NaN,44
4,4,44000005,8.00,9.00,NaN,NaN,8.50,8.50,9.2,7.00,NaN,7.6,NaN,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051855,1051855,13007414,5.25,4.25,NaN,NaN,4.08,2.75,2.8,4.00,NaN,3.6,NaN,13
1051856,1051856,13007415,5.25,6.25,NaN,NaN,5.83,6.00,3.8,5.50,NaN,4.6,NaN,13
1051857,1051857,13007416,5.75,8.50,NaN,NaN,6.67,5.75,3.4,5.00,NaN,5.4,NaN,13
1051858,1051858,13007417,7.25,6.75,NaN,NaN,6.25,4.75,2.2,4.50,NaN,5.2,NaN,13
1051859,1051859,13007418,3.75,4.00,NaN,NaN,3.83,3.75,4.0,4.00,NaN,6.2,NaN,13

In [41]:
from math import nan

df = pd.read_csv('datasets/Full_Mark_2020.csv', low_memory=False)
df = df.loc[
    (df['Ngoaingu'].notnull()) 
    & (df['Toan'].notnull()) 
    & (df['Nguvan'].notnull())
    & ~(df['KHTN'].isnull() & df['KHXH'].isnull())
]

def mon1(row):
    if(row['KHTN'] != nan):
        return row['Hoahoc']
    return row['GDCD']

def mon2(row):
    if(row['KHTN'] != nan):
        return row['Vatli']
    return row['Diali']

def mon3(row):
    if(row['KHTN'] != nan):
        return row['Sinhhoc']
    return row['LichSu']

df['Mon1'] =  df.apply(mon1, axis=1);
df['Mon2'] =  df.apply(mon2, axis=1);
df['Mon3'] =  df.apply(mon3, axis=1);

df

AttributeError: 'float' object has no attribute 'isnull'