In [57]:
import pandas as pd

In [58]:
df = pd.read_csv('datasets/RestaurantDataset.csv', header=None, names=['area', 'type', 'rating'])

df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

df

             area                                               type rating
0        BROOKLYN                                            Chinese      Z
1       MANHATTAN                                           American      C
2           BRONX                                            Chicken      C
3       MANHATTAN                                           American      A
4       MANHATTAN                                           American      A
...           ...                                                ...    ...
179726      BRONX  Latin (Cuban Dominican Puerto Rican South & Ce...      C
179727     QUEENS                                            Chinese      B
179728      BRONX                                            Italian      B
179729  MANHATTAN                                             Bakery      C
179730     QUEENS                                      Jewish/Kosher      B

[179731 rows x 3 columns]

In [59]:
areas = df['area'].unique()
for area in areas:
    df['area_'+area] = df['area'].apply(lambda x: 'Yes' if x == area else '')

types = df['type'].unique()
for type in types:
    df['type_'+type] = df['type'].apply(lambda x: 'Yes' if x == type else '')

ratings = df['rating'].unique()
for rating in ratings:
    df['rating_'+rating] = df['rating'].apply(lambda x: 'Yes' if x == rating else '')

df

,area,type,rating,area_BROOKLYN,area_MANHATTAN,area_BRONX,area_STATENISLAND,area_QUEENS,type_Chinese,type_American,...,type_Southwestern,type_Iranian,type_Czech,type_Fruits/Vegetables,type_Polynesian,rating_Z,rating_C,rating_A,rating_B,rating_P
0,BROOKLYN,Chinese,Z,Yes,,,,,Yes,,...,,,,,,Yes,,,,
1,MANHATTAN,American,C,,Yes,,,,,Yes,...,,,,,,,Yes,,,
2,BRONX,Chicken,C,,,Yes,,,,,...,,,,,,,Yes,,,
3,MANHATTAN,American,A,,Yes,,,,,Yes,...,,,,,,,,Yes,,
4,MANHATTAN,American,A,,Yes,,,,,Yes,...,,,,,,,,Yes,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179726,BRONX,Latin (Cuban Dominican Puerto Rican South & Ce...,C,,,Yes,,,,,...,,,,,,,Yes,,,
179727,QUEENS,Chinese,B,,,,,Yes,Yes,,...,,,,,,,,,Yes,
179728,BRONX,Italian,B,,,Yes,,,,,...,,,,,,,,,Yes,
179729,MANHATTAN,Bakery,C,,Yes,,,,,,...,,,,,,,Yes,,,
179730,QUEENS,Jewish/Kosher,B,,,,,Yes,,,...,,,,,,,,,Yes,

In [62]:
columns = list(set(df.columns) - set(['area', 'type', 'rating']))

df.loc[:,columns].to_csv('datasets/normalized_restaurant.csv', index=False)